
form{
	background: rgb(176, 173, 141);
}
/* set padding and size of th form */
.form-container{
	border-radius: 10px;
	padding: 30px;
}
.card-body{
	background-color:rgb(223, 173, 230);
}
.container-fluid
{
	background-image: url('images/one.jpg');
}